USE [Error404]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/10/2019 8:50:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12/10/2019 8:50:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 12/10/2019 8:50:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Contact] [nvarchar](max) NULL,
	[Loyality] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/10/2019 8:50:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[ReorderLevel] [float] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PurchaseDetails]    Script Date: 12/10/2019 8:50:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[AvailableQuantity] [float] NOT NULL,
	[ManufactureDate] [datetime] NOT NULL,
	[ExpireDate] [datetime] NOT NULL,
	[Remarks] [nvarchar](max) NULL,
	[Quantity] [float] NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[TotalPrice] [float] NOT NULL,
	[PreviousUnitPrice] [float] NOT NULL,
	[PreviousMRP] [float] NOT NULL,
	[MRP] [float] NOT NULL,
	[PurchaseId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PurchaseDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Purchases]    Script Date: 12/10/2019 8:50:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[InvoiceNo] [nvarchar](max) NULL,
	[SupplierId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Purchases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SaleDetails]    Script Date: 12/10/2019 8:50:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [real] NOT NULL,
	[AvailableQuantity] [int] NOT NULL,
	[MRP] [real] NOT NULL,
	[TotalMRP] [real] NOT NULL,
	[SaleId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SaleDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sales]    Script Date: 12/10/2019 8:50:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[GrandTotal] [real] NOT NULL,
	[Discount] [real] NOT NULL,
	[DiscountAmount] [real] NOT NULL,
	[PayableAmount] [real] NOT NULL,
	[CustomerId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Sales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 12/10/2019 8:50:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Contact] [nvarchar](max) NULL,
	[Contactperson] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Code], [Name]) VALUES (1, N'1001', N'Laptop')
INSERT [dbo].[Categories] ([Id], [Code], [Name]) VALUES (2, N'1002', N'Motherboard')
INSERT [dbo].[Categories] ([Id], [Code], [Name]) VALUES (3, N'1003', N'Monitor')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Code], [Name], [Address], [Email], [Contact], [Loyality]) VALUES (1, N'1001', N'Ariful Islam', N'Kamar Para', N'ariful@gmail.com', N'01773611681', 90)
INSERT [dbo].[Customers] ([Id], [Code], [Name], [Address], [Email], [Contact], [Loyality]) VALUES (2, N'1002', N'Munnaf Dewan', N'Dhaka', N'munnaf@gmail.com', N'01957884309', 86)
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Code], [Name], [ReorderLevel], [Description], [CategoryId]) VALUES (1, N'1001', N'Asus', 15, N'Good Quality', 1)
INSERT [dbo].[Products] ([Id], [Code], [Name], [ReorderLevel], [Description], [CategoryId]) VALUES (2, N'1002', N'HP', 15, N'Good Quality', 1)
INSERT [dbo].[Products] ([Id], [Code], [Name], [ReorderLevel], [Description], [CategoryId]) VALUES (3, N'1003', N'Dell', 15, N'Good Quality', 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[PurchaseDetails] ON 

INSERT [dbo].[PurchaseDetails] ([Id], [Code], [AvailableQuantity], [ManufactureDate], [ExpireDate], [Remarks], [Quantity], [UnitPrice], [TotalPrice], [PreviousUnitPrice], [PreviousMRP], [MRP], [PurchaseId], [ProductId], [CategoryId]) VALUES (1, N'1001', 0, CAST(0x0000AB1D00000000 AS DateTime), CAST(0x0000AB2900000000 AS DateTime), N'Good', 5, 25000, 125000, 0, 0, 31250, 3, 1, 1)
INSERT [dbo].[PurchaseDetails] ([Id], [Code], [AvailableQuantity], [ManufactureDate], [ExpireDate], [Remarks], [Quantity], [UnitPrice], [TotalPrice], [PreviousUnitPrice], [PreviousMRP], [MRP], [PurchaseId], [ProductId], [CategoryId]) VALUES (2, N'1001', 0, CAST(0x0000AB1D00000000 AS DateTime), CAST(0x0000AB2900000000 AS DateTime), N'Good', 5, 25000, 125000, 0, 0, 31250, 4, 1, 1)
INSERT [dbo].[PurchaseDetails] ([Id], [Code], [AvailableQuantity], [ManufactureDate], [ExpireDate], [Remarks], [Quantity], [UnitPrice], [TotalPrice], [PreviousUnitPrice], [PreviousMRP], [MRP], [PurchaseId], [ProductId], [CategoryId]) VALUES (3, N'1001', 0, CAST(0x0000AB1D00000000 AS DateTime), CAST(0x0000AB2900000000 AS DateTime), N'Good', 5, 25000, 125000, 0, 0, 31250, 5, 1, 1)
SET IDENTITY_INSERT [dbo].[PurchaseDetails] OFF
SET IDENTITY_INSERT [dbo].[Purchases] ON 

INSERT [dbo].[Purchases] ([Id], [Date], [InvoiceNo], [SupplierId]) VALUES (3, CAST(0x0000AB1F00000000 AS DateTime), N'3456', 1)
INSERT [dbo].[Purchases] ([Id], [Date], [InvoiceNo], [SupplierId]) VALUES (4, CAST(0x0000AB1F00000000 AS DateTime), N'3456', 1)
INSERT [dbo].[Purchases] ([Id], [Date], [InvoiceNo], [SupplierId]) VALUES (5, CAST(0x0000AB1F00000000 AS DateTime), N'3456', 1)
SET IDENTITY_INSERT [dbo].[Purchases] OFF
SET IDENTITY_INSERT [dbo].[SaleDetails] ON 

INSERT [dbo].[SaleDetails] ([Id], [Quantity], [AvailableQuantity], [MRP], [TotalMRP], [SaleId], [ProductId], [CategoryId]) VALUES (1, 2, 50, 34000, 68000, 1, 1, 1)
INSERT [dbo].[SaleDetails] ([Id], [Quantity], [AvailableQuantity], [MRP], [TotalMRP], [SaleId], [ProductId], [CategoryId]) VALUES (2, 2, 50, 34000, 68000, 2, 1, 1)
SET IDENTITY_INSERT [dbo].[SaleDetails] OFF
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([Id], [Date], [GrandTotal], [Discount], [DiscountAmount], [PayableAmount], [CustomerId]) VALUES (1, CAST(0x0000AB1F00000000 AS DateTime), 68000, 2, 1360, 66640, 2)
INSERT [dbo].[Sales] ([Id], [Date], [GrandTotal], [Discount], [DiscountAmount], [PayableAmount], [CustomerId]) VALUES (2, CAST(0x0000AB1F00000000 AS DateTime), 68000, 2.5, 1700, 66300, 1)
SET IDENTITY_INSERT [dbo].[Sales] OFF
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Id], [Code], [Name], [Address], [Email], [Contact], [Contactperson]) VALUES (1, N'1001', N'Promi', N'Dhaka', N'promi@gmail.com', N'01830422618', N'promi01830422618')
INSERT [dbo].[Suppliers] ([Id], [Code], [Name], [Address], [Email], [Contact], [Contactperson]) VALUES (2, N'1002', N'Munnaf Dewan', N'Dhaka', N'munnaf@gmail.com', N'01225474481', N'munnaf01830422618')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[PurchaseDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseDetails_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[PurchaseDetails] CHECK CONSTRAINT [FK_dbo.PurchaseDetails_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[PurchaseDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseDetails_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[PurchaseDetails] CHECK CONSTRAINT [FK_dbo.PurchaseDetails_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[PurchaseDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseDetails_dbo.Purchases_PurchaseId] FOREIGN KEY([PurchaseId])
REFERENCES [dbo].[Purchases] ([Id])
GO
ALTER TABLE [dbo].[PurchaseDetails] CHECK CONSTRAINT [FK_dbo.PurchaseDetails_dbo.Purchases_PurchaseId]
GO
ALTER TABLE [dbo].[Purchases]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Purchases_dbo.Suppliers_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[Purchases] CHECK CONSTRAINT [FK_dbo.Purchases_dbo.Suppliers_SupplierId]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SaleDetails_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [FK_dbo.SaleDetails_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SaleDetails_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [FK_dbo.SaleDetails_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SaleDetails_dbo.Sales_SaleId] FOREIGN KEY([SaleId])
REFERENCES [dbo].[Sales] ([Id])
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [FK_dbo.SaleDetails_dbo.Sales_SaleId]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sales_dbo.Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_dbo.Sales_dbo.Customers_CustomerId]
GO
