@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
    <div class="container">
        <div class="container py-5">
            <h2 class="text-center">Small Business Management System</h2> 
            <br /><br />
            <center><img src="~/wwwroot/assets/images/dashboard/img_3.jpg" style="width:900px;"/></center>
        </div>
    </div>